<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>移动数据分析系统</h1>
            </div>
            <div class="pull-right">
                <a ui-sref="login">登录</a>
            </div>
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">注册</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="用户名" name="username" type="text"  ng-bind="data.username" autofocus>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="密码" name="password" type="password" ng-bind="data.password">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="重复密码" name="confirm" type="password" ng-bind="data.confirm">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="昵称" name="nickname" type="text"  ng-bind="data.nickname">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="邮箱" name="email" type="email" ng-bind="data.email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="电话" name="nickname" type="text" ng-bind="data.mobile">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <botton  class="btn btn-lg btn-success btn-block" ng-click="regist()">注册</botton>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div>
                <p ng-show="result.show" ng-class="{true: text-success, false: text-danger}[result.success]" ng-bind="result.message"></p>
            </div>
        </div>
    </div>
</div>