<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ng-class="{active: collapseVar=={{list.number}}}" ng-repeat="list in lists">{{dropDown}}
                <a href="" ng-click="check(list.number)"><i class="fa {{list.icon}} fa-fw"></i>{{list.name}}<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!={{list.number}}">
                    <li ui-sref-active="active" ng-repeat="sub in list.subs">
                        <a ui-sref="{{sub.id}}" ng-bind="sub.name" class="margin-left-1"></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



